html {
  min-height: 110%;
}
body {
  position: relative;
  max-width: 700px;
  margin: auto;
  padding: 1em 25px;
  font: normal 18px menlo,'andale mono','STHeiti','Microsoft YaHei','微软雅黑','WenQuanYi Zen Hei','文泉驿正黑','WenQuanYi Micro Hei','文泉驿微米黑','courier new',sans-serif;
  line-height: 150%;
}
h1, h2, h3, ul, ol, li {
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 150%;
}
h1, h2, h3 {
  margin-bottom: 1em;
  font-weight: bold;
}
h1 a, h1 a:hover, h1 a:visited {
  color: #333;
  text-decoration: none;
}
a:visited {
  color: #639;
}

.login {
  position: absolute;
  top: 1em;
  right: 25px;
}
.pencil {
  margin-bottom: 2em;
}
textarea {
  max-height: 15em;
  resize: none;
}
.form-control {
  font-size: 1em;
}
.loading {
  padding-bottom: 1em;
}
.line {
  margin-bottom: 1em;
  list-style-type: none;
}
.log {
  position: relative;
}
.eraser {
  margin-left: -1em;
  float: left;
  cursor: pointer;
}
.fakeDateTime {
  position: absolute;
  top: 0;
  right: 0;
  width: 209px;
  height: 27px;
  opacity: 0;
}
.dateTime {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  padding-left: .5em;
  background-color: white;
  -webkit-transition: all 0.1s 0 ease;
  transition: all 0.1s 0 ease;
}
.log:hover .dateTime {
  top: 0;
  right: 0;
  opacity: 1;
  -webkit-transition: all 0.1s 0.3s ease;
  transition: all 0.1s 0.3s ease;
}
.dateTime:hover, .fakeDateTime:hover + .dateTime {
  top: -23px !important;
  background-color: transparent !important;
}
.border {
  position: relative;
  border: 1px solid rgb(70, 184, 218);
  border: 1px solid rgba(70, 184, 218, 0.7);
  border-radius: .25em;
  padding: 6px 12px;
  margin-bottom: 1em;
}
.topRight {
  position: absolute;
  top: 0;
  right: 0;
}
.transparent {
  zoom: 1;
  filter: alpha(opacity=70);
  opacity: 0.7;
}

img {
  width: 100%;
}
ul {
  list-style: square inside;
}
ol {
  list-style: decimal inside;
}
.log > ul, .log > ol, .border > ul, .border > ol {
  margin-bottom: 10px;
}
.log > ul ul, .border > ul ul {
  margin-left: 18px;
}
.log > ol ol, .border > ol ol {
  margin-left: 18px;
}
.log > ul ol, .border > ul ol {
  margin-left: 20px;
}
.log > ol ul, .border > ol ul {
  margin-left: 34px;
}

p, code {
 -ms-word-break: break-all;
     word-break: break-all;
     /* Non standard for webkit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;

  white-space: normal;
}
